/*--- common css start--*/
h1,h2,h3,h4,h5,h6,
p,
small,span,
ul,ol{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
/*---nav section start--*/
#mynav {
    background-color: #02918b;
  }
  #mynav #mymenu ul li a {
    font-size: 12px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    padding: 26px 25px;
    display: inline-block;
    transition: 0.7s;
  }
  #mynav #mymenu ul li:hover a {
    background: #cfc91d;
    color: #000;
  }
  /*---nav section end--*/
  /* Banner Section Css Start */
  #banner {
    background: url(../img/banner_bg.jpg);
    height: 728px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }
  #banner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    opacity: 0.66;
    z-index: -1;
  }
  #banner .banner_content{
    color: #fff;
  }
  #banner h3 {
    font-size: 30px;
    font-weight: 400;
  }
  #banner h1 {
    font-size: 68px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 30px;
  }
  #banner p {
    font-size: 18px;
  }
  #banner a {
    font-size: 14px;
    font-weight: 800;
    color: #0b1016;
    text-transform: uppercase;
    background: #cfc91d;
    padding: 19px 42px;
  }
  #banner .banner_content img{
    margin: 50px auto;
  }
  /* About Section Css Start */
#about {
    padding: 99px 0;
  }
  #about .about_item {
    padding: 37px 55px;
    border-right: 1px solid #d9dbdb;
    margin-top: 80px;
  }
  #about .about_item h4 {
    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    margin: 32px 0;
  }
  #about .about_item p {
    font-size: 11px;
    color: #7e8287;
  }
  /* --about section end-- */
  /* --service section satrt */
  #service{
    background: url(../img/service_bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 99px 0;
  }